In [44]:
# Task 1: Data Loading and Initial Exploration

import pandas as pd

titanic_data = pd.read_excel("/Users/clairestewart/ML-fundamentals-2025/titanic3.xls")

# Statistical description of the data to see trends in the dataset 
print(titanic_data.describe())

# need to figure out ways to visualize data

            pclass     survived          age        sibsp        parch  \
count  1309.000000  1309.000000  1046.000000  1309.000000  1309.000000
mean      2.294882     0.381971    29.881135     0.498854     0.385027
std       0.837836     0.486055    14.413500     1.041658     0.865560
min       1.000000     0.000000     0.166700     0.000000     0.000000
25%       2.000000     0.000000    21.000000     0.000000     0.000000
50%       3.000000     0.000000    28.000000     0.000000     0.000000
75%       3.000000     1.000000    39.000000     1.000000     0.000000
max       3.000000     1.000000    80.000000     8.000000     9.000000

              fare        body
count  1308.000000  121.000000
mean     33.295479  160.809917
std      51.758668   97.696922
min       0.000000    1.000000
25%       7.895800   72.000000
50%      14.454200  155.000000
75%      31.275000  256.000000
max     512.329200  328.000000

In [105]:
# Task 2: Managing Missing Values

missing_values = titanic_data.isnull()
print(missing_values.sum())

# Before any data is changed the columns with missing data are: age, fare, cabin, embarked, boat, body, and home.dest 

# Age:
# Filling in the missing values with the mean age. Median is similar to mean, so either would work. 
mean_age = titanic_data['age'].mean()
titanic_data['age'] = titanic_data['age'].fillna(mean_age)

# Fare
# Filling in fares with the mode 
mean_fare =  titanic_data['fare'].mean()
titanic_data['fare'] = titanic_data['fare'].fillna(mean_fare)

# Cabin
mode_cabin = titanic_data['cabin'].mode()
titanic_data['cabin'] = titanic_data['cabin'].fillna(str(mode_cabin))

# Home.Dest
home_mode = titanic_data['home.dest'].mode()
titanic_data['home.dest'] = titanic_data['home.dest'].fillna(str(home_mode))

# Embarked
embark_mode = titanic_data['embarked'].mode()
titanic_data['embarked'] = titanic_data['embarked'].fillna(str(embark_mode))

# Boat
titanic_data['boat'] = titanic_data['boat'].fillna(-1)

pclass          0
survived        0
name            0
sex             0
age             0
sibsp           0
parch           0
ticket          0
fare            0
cabin           0
embarked        0
boat            0
body         1188
home.dest       0
dtype: int64